*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  /* Estilos para la barra de navegación */
.navbar {
    overflow: hidden;
    display: flex;
    justify-content: center; 
    height: 100px;
    font-size: 20px;
}

.navbar a {
    display: block;
    color: rgb(44, 49, 97);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: goldenrod;
    
}

/* Estilos para los botones desplegables */
.dropdown {
    overflow: hidden;
    
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(85, 65, 65);
    background-color: inherit;
    font-family: 'Merriweather', serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
    
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(165, 133, 51);
    
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.dropdown-content a {
    float: right;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;   
}



.dropdown:hover .dropdown-content {
    display: block;
}

.logo{
    width: 100px; 
    height: 100px; 
    position: absolute;
    
    
}
.idioma{
    height: 30px;
    margin: 0px;
        
}
.container {
    position: relative;
    text-align: center;
    background-image: url('../IMG/Logo/f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.encabezado {
    position: absolute;
    top: 50%; /* Alinea el elemento a la mitad vertical */
    left: 50%; /* Alinea el elemento a la mitad horizontal */
    transform: translate(-150%, -50%); /* Centra el elemento */
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.areas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre los bloques */
}

.areas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre los bloques */
}

.areas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre los bloques */
}

.enunciado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
   
}

.Económico-Empresarial,
.Derecho-Laboral,
.Civil-y-comercial,
.Societario,
.Academia-y-consultoría,
.Cumplimiento-normativo {
    margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
    border-radius: 10px;
    background-color: rgb(81, 92, 113);
    padding: 10px;
}

.Económico-Empresarial h2,
.Derecho-Laboral h2,
.Civil-y-comercial h2,
.Societario h2,
.Academia-y-consultoría h2,
.Cumplimiento-normativo h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer; /* Cambia el cursor al pasar por encima del encabezado */
    color: rgb(184, 164, 143);
    
}

.Económico-Empresarial p,
.Derecho-Laboral p,
.Civil-y-comercial p,
.Societario p,
.Academia-y-consultoría p,
.Cumplimiento-normativo p {
    margin: 5px 0;
    display: none; /* Oculta los párrafos por defecto */
    color: white;
    
}

.expanded {
    display: block !important; /* Muestra los párrafos expandidos */
    text-align: center;
}

.ver-mas {
    cursor: pointer;
    color: black;
    text-decoration: none; /* Quita el subrayado */
}